:root{
    --normal: #a8a878;
    --grass: #78C850;
    --poison: #A040A0;
    --fire: #F08030;
    --flying: #A890F0;
    --bug: #A8B820;
    --electric: #F8D030;
    --ground: #e0c068;
    --fairy: #ee99ac;
    --fighting: #c03028;
    --psychic: #f85888;
    --rock: #b8a038;
    --steel: #b8b8d0;
    --ice: #98d8d8;
    --ghost: #705898;
    --dragon: #7038f8;
    --dark: #705848;
    --water: #6890f0;
    --unknown: #68a090;
}

*{
    margin: 0;
    padding: 0;
}


html, body{
    font-family: 'Roboto', sans-serif;
    background-color: #a6e9f5;
    color: #fff;
    
}
.container-fluid {
    width: 90%;
}
.valign {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

li{
    list-style-type: none;
}
ul{
    padding-left: 0;
}
a{
    text-decoration: none;
}

.bouncy{
    animation:bouncy 5s infinite linear;
    position:relative;
}
@keyframes bouncy{
    0%{top:0em}
    40%{top:0em}
    43%{top:-0.9em}
    46%{top:0em}
    48%{top:-0.4em}
    50%{top:0em}
    100%{top:0em;}
}
.button-next{
    animation-delay: 0.07s;
}

.button-previous{
    animation-delay: 0.28s; 
}
.button-random{
    animation-delay: 0.49;
}

a.button{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    cursor: pointer;
    box-shadow: 0.0px 0.0px 0.0px hsl(0deg 0% 0% / 0.50);

}

a.button:hover{
    color:#000000;
    background-color:#FFFFFF;
    box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25);

}
@media all and (max-width:30em){
    a.button{
        display:block;
        margin:0.4em auto;
    } 
}
.color-grass{
    color: var(--grass);
}
.color-poison{
    color: var(--poison);
}
.color-rock{
    color: var(--rock);
}
.color-ground{
    color: var(--ground);
}
.color-psychic{
    color: var(--psychic);
}
.color-ghost{
    color: var(--ghost);
}
.color-bug{
    color: var(--bug);
}
.color-ice{
    color: var(--ice);
}
.color-steel{
    color: var(--steel);
}
.color-fire{
    color: var(--fire);
}
.color-water{
    color: var(--water);
}
.color-electric{
    color: var(--electric);
}
.color-fairy{
    color: var(--fairy);
}
.color-dragon{
    color: var(--dragon);
}
.color-dark{
    color: var(--dark);
}
.color-fighting{
    color: var(--fighting);
}
.color-normal{
    color: var(--normal);
}
.color-flying{
    color: var(--flying);
}
.color-unknown{
	color: var(--unknown);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');